<%- include('partials/header.ejs') %>

    <div class="row">
        <div class="col-md-6 col-md-offset-5">
            <h1>To Do Items</h1>
            <ul class="list-group">
                <% todos.forEach( function(todo) { %>
                    <li class="list-group-item list-group-item-light d-flex align-items-center">
                        <span data-="TODO" class="flex-grow-1 lead display-6">
                            <%= todo.text %>
                        </span>
                        <div class="d-inline-flex gap-2">
                            <form action="/todos/<%=todo._id%>/edit" method="GET">
                                <button type="submit" class="btn btn-md btn-warning">Edit</button>
                            </form>

                            <form action="/todos/<%=todo._id%>" method="POST" id="delItem">
                                <button type="submit" class="btn btn-md btn-danger">Delete</button>
                            </form>
                        </div>
                        <div class="clearfix"></div>
                    </li>
                    <% }); %>
            </ul>
            <form action="/todos/new" method="GET">
                <button type="submit" class="btn btn-primary mt-3">New Item</button>
            </form>
        </div>
    </div>

    <%- include('partials/footer.ejs') %>